@{
    ViewBag.Title = "Home Page";
}

<div class="MyTitle">
    <h4><strong>My ASP.NET Demo</strong></h4>
    <h6>This Demo application is for me to learn ASP.NET and verify how ASP.NET works all together. There are involved  HTML, CSS and JavaScript, and also C#, Microsoft SQL database and a important concept ASP.NET with supports different models: Web Pages, MVC, Web Forms. ASP.NET is a free web framework for building great Web sites and Web applications. It</h6>
    <p><a href="http://asp.net" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
</div>
<br />
<div id="MyFrame">
    <img id="pic" src="~/MySource/p01.gif" width="200px" height="150px">
    <div id="topic">
        <h5>ASP.NET</h5>
        <div id="text">
            All three ASP.NET frameworks are based on the .NET Framework and share core functionality of .NET and of ASP.NET. For example, all three frameworks offer a login security model based around membership, and all three share the same facilities for managing requests, handling sessions, and so on that are part of the core ASP.NET functionality.
        </div>
    </div>
</div>
<br />
<div id="MyFrame">
    <img id="pic" src="~/MySource/p02.gif" width="200px" height="150px">
    <div id="topic">
        <h5>SQL Database</h5>
        <div id="text">
            Microsoft SQL Server is a relational database management system developed by Microsoft. As a database server, it is a software product with the primary function of strong and retrieving data as requested by other software applications which may run either on the same computer or on another computer across a network.
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@* @copyright wendy xiao ASP.NET&MVC demo on 6-8-2016  *@
